* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #B5719F;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: center;
    color: #fff;
}

h1 {
    color: #B5719F;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    align-items: flex-start;
}

input {
     width: 20%; 
}

input,  
form {
    border: 1px solid #B5719F;
    border-radius: 20px;
}

.checkbox {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
td,
th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #75b89f;
    color: white;
  }
